---
layout: default
---

{% assign temario = ';Ciclo y Propiedades del Agua;Precipitación;Disponibilidad de Agua;;Riego;Aforos;;Extremos;Balance Hídrico;Sistematización de Predios;Canales;Presas;Hidráulica de Pozos;Aguas Residuales' | split: ';'  %}

<div>
  {% assign mypages = site.html_pages %}
  {% assign misclases = '' | split: '' %}
  {% for page in mypages  %}
    {% assign spliturl = page.url | split: "/" %}
    {% assign miclase = spliturl[1] | replace: 'clase', '' | plus: 0 %}
    {% assign miclaseArray = '' | split: '' %}
    {% assign miclaseArray = miclaseArray | push: page %}
    {% assign miclaseArray = miclaseArray | push: miclase %}
    {% assign misclases = misclases | push: miclaseArray %}
  {% endfor %}
  {% assign misGclases = misclases | group_by_exp: "item", "item[1]" %}
  {% assign misGclases = misGclases | sort: "name" %}
  <li>
  {% for group in misGclases %}
  {% for clase in group.items %}
    {% assign estaclase = clase[0] %}
    {% unless estaclase.url contains "ejercicio" %}
      {% assign titulo = estaclase.url %}
      {% if titulo contains "notas" %}
        {% assign titulo = "Notas basadas en la presentación" %}
      {% endif %}
      {% if titulo contains "teori" %}
        {% assign titulo = "Resumen teórico" %}
      {% endif %}
      {% assign tema = clase[1] | plus: 0 %}
      <ul><a href="{{estaclase.url | relative_url}}">{{temario[tema]}}: {{titulo}}</ul>
    {% endunless %}
  {% endfor %}
  {% endfor %}
  </li>

</div>

<div>
  {% assign myfiles = site.static_files %}
  {% assign misejercicios = '' | split: '' %}
  {% for file in myfiles  %}
    {% if file.path contains ".ejercicio" %}
      {% if file.extname == ".html" %}
        {% assign spliturl = file.path | split: "/" %}
        {% assign miejercicio = spliturl[1] | replace: '.ejercicio', '' | plus: 0 %}
        {% assign miejercicioArray = '' | split: '' %}
        {% assign miejercicioArray = miejercicioArray | push: file %}
        {% assign miejercicioArray = miejercicioArray | push: miejercicio %}
        {% assign misejercicios = misejercicios | push: miejercicioArray %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign misGejercicios = misejercicios | group_by_exp: "item", "item[1]" %}
  {% assign misGejercicios = misGejercicios | sort: "name" %}
  <li>
  {% for group in misGejercicios %}
  {% for ejercicio in group.items %}
    {% assign estaejercicio = ejercicio[0] %}
    {% assign titulo = estaejercicio.basename %}
    {% assign tema = ejercicio[1] | plus: 0 %}
    <ul><a href="{{estaejercicio.path | relative_url}}">{{temario[tema]}}: {{titulo}}</ul>
  {% endfor %}
  {% endfor %}
  </li>

</div>

    
